.div {
    position: absolute;
    top: 13px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 27px;
}

.frame-wrapper,
.wrapper {
    position: absolute;
}

.wrapper {
    top: 7px;
    left: 9px;
    border-radius: var(--br-mid);
    border: 3px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 165px;
    height: 54px;
}

.frame-wrapper {
    height: calc(100% - 806px);
    width: calc(100% - 206px);
    top: 733px;
    right: 103px;
    bottom: 73px;
    left: 103px;
    border-radius: 19px;
    background-color: var(--color-gray);
}

.div1,
.point-that-we-have {
    position: absolute;
    top: 25px;
    left: 19px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
}

.div1 {
    top: 29px;
    left: 55%;
    font-size: 47px;
    width: 138px;
    height: 51px;
}

.frame-container,
.point-that-we-have-parent {
    position: absolute;
    width: calc(100% - 30px);
    overflow: hidden;
}

.point-that-we-have-parent {
    height: calc(100% - 30px);
    top: 15px;
    right: 14px;
    bottom: 15px;
    left: 16px;
    border-radius: var(--br-mid);
    border: 3px solid var(--color-goldenrod);
    box-sizing: border-box;
}

.frame-container {
    height: calc(100% - 722px);
    top: 14px;
    right: 13px;
    bottom: 708px;
    left: 17px;
    box-shadow: 0 -8px 93px 33px #ffd454;
    border-radius: var(--br-16xl);
    background-color: var(--color-gray);
    font-size: 39px;
    font-family: var(--font-irannastaliq);
}

.div2 {
    position: absolute;
    top: 9px;
    left: -16px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 23px;
}

.container {
    top: 76px;
    left: 145px;
    width: 140px;
    height: 32px;
    overflow: hidden;
    position: absolute;
}

.div3,
.frame {
    position: absolute;
}

.div3 {
    top: 6px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 33px;
}

.frame {
    top: -6px;
    left: 49px;
    width: 178px;
    height: 45px;
    overflow: hidden;
    font-size: var(--font-size-xl);
    color: var(--color-goldenrod);
}

.div4,
.div5 {
    position: absolute;
    top: 78px;
    left: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 30px;
}

.div5 {
    top: 7px;
    left: 18px;
    width: 71px;
    height: 19px;
}

.level-up-for-point-in-each-cli {
    position: absolute;
    top: 42px;
    left: 86px;
    border-radius: var(--br-xs);
    background-color: var(--color-goldenrod);
    width: 108px;
    height: 33px;
    overflow: hidden;
    font-size: var(--font-size-lg);
    color: var(--color-black);
}

.frame-parent2 {
    position: absolute;
    height: calc(100% - 313px);
    width: calc(100% - 38px);
    top: 26px;
    right: 19px;
    bottom: 287px;
    left: 19px;
    border-bottom: 3px solid var(--color-goldenrod);
    box-sizing: border-box;
}

.div7 {
    position: absolute;
    top: 6px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 33px;
}

.level-up-for-speed-of-maaking-,
.wrapper2 {
    position: absolute;
    top: -6px;
    left: 48px;
    width: 178px;
    height: 45px;
    overflow: hidden;
    font-size: var(--font-size-xl);
    color: var(--color-goldenrod);
}

.level-up-for-speed-of-maaking- {
    top: 41px;
    left: 83px;
    border-radius: var(--br-xs);
    background-color: var(--color-goldenrod);
    width: 108px;
    height: 33px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
}

.frame-parent3 {
    position: absolute;
    height: calc(100% - 313px);
    width: calc(100% - 38px);
    top: 171px;
    right: 22px;
    bottom: 142px;
    left: 16px;
    border-bottom: 3px solid var(--color-goldenrod);
    box-sizing: border-box;
}

.div10 {
    position: absolute;
    top: 9px;
    left: 8px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 23px;
}

.wrapper3 {
    position: absolute;
    top: 84px;
    left: 145px;
    width: 140px;
    height: 32px;
    overflow: hidden;
}

.div12 {
    position: absolute;
    top: 85px;
    left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 30px;
}

.level-up-for-gonjayesh {
    position: absolute;
    top: 46px;
    left: 83px;
    border-radius: var(--br-xs);
    background-color: var(--color-goldenrod);
    width: 108px;
    height: 33px;
    overflow: hidden;
    font-size: var(--font-size-lg);
    color: var(--color-black);
}

.frame-parent1,
.frame-parent4 {
    position: absolute;
    height: calc(100% - 321px);
    width: calc(100% - 38px);
    top: 302px;
    right: 19px;
    bottom: 19px;
    left: 19px;
}

.frame-parent1 {
    height: calc(100% - 41px);
    width: calc(100% - 40px);
    top: 21px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border-radius: var(--br-mid);
    border: 3px solid var(--color-goldenrod);
    box-sizing: border-box;
}

.frame-div {
    position: absolute;
    height: calc(100% - 395px);
    width: calc(100% - 25px);
    top: 202px;
    right: 13px;
    bottom: 193px;
    left: 12px;
    box-shadow: 0 -8px 93px 33px #ffd454;
    border-radius: var(--br-16xl);
    font-size: var(--font-size-mid);
}

.frame-div,
.frame-group,
.frame-parent {
    background-color: var(--color-gray);
    overflow: hidden;
}

.frame-group {
    position: absolute;
    height: calc(100% - 58px);
    width: calc(100% - 42px);
    top: 29px;
    right: 21px;
    bottom: 29px;
    left: 21px;
    box-shadow: 0 4px 31px 1px #ffd454;
    border-radius: 40px;
}

.frame-parent {
    width: 100%;
    position: relative;
    height: 932px;
    text-align: center;
    font-size: 32px;
    color: var(--color-white);
    font-family: var(--font-vazirmatn);
}

@media only screen and (min-width: 320px) and (max-width: 374px) {

    .rectangle-parent {
        left: -0.5rem;
    }

    .wrapper1 {
        position: absolute;
        top: 22.375rem;
        left: 1.938rem;
        width: 14.625rem;
        height: 5.188rem;
        font-size: 1.875rem;
        font-family: var(--font-inika);
    }

    .wrapper {
        top: 7px;
        left: -1rem;
        border-radius: var(--br-mid);
        border: 3px solid var(--color-goldenrod);
        box-sizing: border-box;
        width: 165px;
        height: 54px;
    }

    .div7 {
        position: absolute;
        top: 6px;
        left: -21px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 181px;
        height: 33px;
    }
    .div1 {
        top: 37px;
        left: 118px;
        font-size: 47px;
        width: 138px;
        height: 51px;
    }
    .div2 {
    position: absolute;
    top: 9px;
    left: -31px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
}
.div10 {
    position: absolute;
    top: 9px;
    left: -28px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 23px;
}}

@media only screen and (min-width: 414px) and (max-width: 480px) {
    .container {
        top: 76px;
        left: 128px;
        width: 140px;
        height: 32px;
        overflow: hidden;
        position: absolute;
    }

    .wrapper3 {
        position: absolute;
        top: 81px;
        left: 132px;
        width: 140px;
        height: 32px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 413px) and (min-width: 408px) {
    .frame-group {
        position: absolute;
        top: -0.5rem;
        left: 0.3rem;
        width: 20.813rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .wrapper1 {
        position: absolute;
        top: 22.375rem;
        left: 2.938rem;
        width: 14.625rem;
        height: 5.188rem;
        overflow: hidden;
        font-size: 1.875rem;
        font-family: var(--font-inika);
    }

    .wrapper2 {
        position: absolute;
        top: 44.25rem;
        left: 10.625rem;
        width: 10.188rem;
        height: 3.063rem;
        font-family: var(--font-saira);
    }

    .rectangle-parent {
        position: absolute;
        top: 11.875rem;
        left: 1rem;
        box-shadow: 0px 4px 100px -8px #ffd454;
        border-radius: 51px;
        background-color: var(--color-gray);
        width: 23.563rem;
        height: 44.875rem;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0.437rem var(--padding-5xs);
        box-sizing: border-box;
        gap: 0.625rem;
        text-align: center;
        font-size: var(--font-size-8xl);
        color: var(--color-goldenrod);
        font-family: var(--font-irannastaliq);
    }
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
    .component-item {
        width: 108.5%;
        position: relative;
        height: 104px;
        z-index: 1;
        left: -11px;
    }

    .menu {
        width: 284px;
        margin: 0 !important;
        position: absolute;
        top: 11px;
        left: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 17px;
        z-index: 3;
    }

    body {
        left: 0px;
    }

    /* کدهای CSS خود را اینجا وارد کنید */
}

.div6 {
    position: absolute;
    top: 21px;
    left: 141px;
    display: inline-block;
    width: 182px;
    height: 19px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.group {
    display: flex;
}

/* .typing {
    display: inline-block;
    height: fit-content;
    overflow: hidden;
    border-right: 0.15em solid rgb(0, 255, 179);
    white-space: nowrap;
    animation: typing 3s steps(30, end) infinite alternate, blink-caret .75s step-end infinite;
    max-width:fit-content;
    
  }
  
  @keyframes blink-caret {
  
    from,
    to {
        border-color: transparent;
    }
  
    50% {
        border-color: rgb(0, 255, 179);
    }
  }
   */
@media only screen and (min-width: 379px) and (max-width: 408px) {

    /* کدهای CSS خود را اینجا وارد کنید */
    .wrapper1 {
        position: absolute;
        top: 22.375rem;
        left: 1.938rem;
        width: 14.625rem;
        height: 5.188rem;
        overflow: hidden;
        font-size: 1.875rem;
        font-family: var(--font-inika);
    }

    .div7 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: -1%;
        display: inline-block;
    }

    .frame {
        top: -13px;
        left: 45px;
        width: 178px;
        height: 45px;
        overflow: hidden;
        font-size: var(--font-size-xl);
        color: var(--color-goldenrod);
    }

    .wrapper {
        top: 7px;
        left: -7px;
        border-radius: var(--br-mid);
        border: 3px solid var(--color-goldenrod);
        box-sizing: border-box;
        width: 165px;
        height: 54px;
    }

    .container {
        top: 76px;
        left: 104px;
        width: 140px;
        height: 32px;
        overflow: hidden;
        position: absolute;
    }

    .wrapper3 {
        position: absolute;
        top: 79px;
        left: 104px;
        width: 140px;
        height: 32px;
        overflow: hidden;
    }
}

@media only screen and (width: 375px) {
    .div1 {
        top: 29px;
        left: 154px;
        font-size: 47px;
        width: 138px;
        height: 51px;
    }

    .point-that-we-have {
        position: absolute;
        top: 19px;
        left: 19px;
        white-space: pre-wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 108px;
    }

    .wrapper {
        top: 7px;
        left: -13px;
        border-radius: var(--br-mid);
        border: 3px solid var(--color-goldenrod);
        box-sizing: border-box;
        width: 165px;
        height: 54px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .frame-item {
        width: 93%;
        position: absolute;
        margin: 0 !important;
        top: 0.813rem;
        left: 0.69rem;
        border-radius: var(--br-14xl) var(--br-14xl) 0px 0px;
        background-color: var(--color-gray);
        border-top: 3px solid var(--color-goldenrod);
        border-right: 3px solid var(--color-goldenrod);
        border-left: 3px solid var(--color-goldenrod);
        box-sizing: border-box;
        height: 40.813rem;
        z-index: 0;
    }


}

@media only screen and (min-width: 359px) and (max-width: 366px) {}

@media only screen and (min-width: 367px) and (max-width: 374px) {

    .rectangle-parent {
        left: -0.43rem;
    }

 
}

@media only screen and (min-width: 481px) {
    .wrapper {
        top: 7px;
        left: 15%;
        border-radius: var(--br-mid);
        border: 3px solid var(--color-goldenrod);
        box-sizing: border-box;
        width: 165px;
        height: 54px;
    }

    .container {
        top: 76px;
        left: 169px;
        width: 140px;
        height: 32px;
        overflow: hidden;
        position: absolute;
    }

    .wrapper3 {
        position: absolute;
        top: 76px;
        left: 162px;
        width: 140px;
        height: 32px;
        overflow: hidden;
    }

    .div3 {
        top: -3px;
        left: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 181px;
        height: 33px;
    }

    .wrapper2 {
        position: absolute;
        top: -10px;
        left: 69px;
        width: 178px;
        height: 45px;
        overflow: hidden;
        font-size: var(--font-size-xl);
        color: var(--color-goldenrod);
    }

    .level-up-for-speed-of-maaking- {
        top: 37px;
        left: 99px;
        border-radius: var(--br-xs);
        background-color: var(--color-goldenrod);
        width: 108px;
        height: 33px;
        font-size: var(--font-size-lg);
        color: var(--color-black);
    }

    .level-up-for-point-in-each-cli {
        position: absolute;
        top: 41px;
        left: 96px;
        border-radius: var(--br-xs);
        background-color: var(--color-goldenrod);
        width: 108px;
        height: 33px;
        overflow: hidden;
        font-size: var(--font-size-lg);
        color: var(--color-black);
    }

    .level-up-for-gonjayesh {
        position: absolute;
        top: 46px;
        left: 97px;
        border-radius: var(--br-xs);
        background-color: var(--color-goldenrod);
        width: 108px;
        height: 33px;
        overflow: hidden;
        font-size: var(--font-size-lg);
        color: var(--color-black);
    }
}